.fileUploadContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px 0px;
}

.fileUploadBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
	background: rgb(247, 247, 247);
	border: 1px solid gray;
	border-radius: 5px;
}
.fileUploadBox span{
	font-size: 20px;
	font-weight: 400;
}
.fileUploadContainer button{
	width: 100px;
	margin: 10px 0px;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}
.fileUploadContainer button:hover{
	background: rgb(200, 200, 200);
}
.fileUploadContainer button span{
	font-size: 16px;
}